.color-example
{
    color:black;
    background-color:#ded6c4;
    border-color:black;
    border-width:thick;
    border-style: double;
}
.header-example
{
    font-family: cursive;
    font-size: large;
    color: pink;
}
.list-example
{
    list-style-type: circle;
    color: green;
}
.text-example
{
  font-family: Arial;
  font-size: larger;
  text-transform: capitalize;
  text-decoration: underline;
}
.div-example
{
    background-color: rgb(170, 28, 52);
    border-style: dashed;
}
